<div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        {{card.title}}
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                        </mat-menu>
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{card.subtitle || ''}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">

                    <div>
                        <button *ngIf="card.title=='Projects' " (click)="do()" mat-icon-button><i class="fa fa-plus"></i> Add a Project </button>

                        <mat-list>
                            <mat-list-item *ngFor=" let project of card.projects">
                                <p mat-line> Project : {{project.name}}</p>
                                <p mat-line> Responsable {{project.responsable}}</p>

                            </mat-list-item>
                        </mat-list>
                    </div>

                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>